# Welcome to Python

In [ ]:
print("Hello, world!")

In [ ]:
!ls

_**'!' runs linux shell commands within Jupyter Notebook**_

In [ ]:
!ls

### Comments in Python

In [ ]:
# This is a comment written in single line 

# This is a comment written in single line 

print("Hello, World!")

In [1]:
"""
This is a comment
written in
more than just one line
using a docstring.
"""

print("Hello, World!")

SyntaxError: invalid syntax (3279184495.py, line 1)

# Python Variables

Variables are containers to store data values.

In [ ]:
x = 5.2564
x = "GCC practical"
print(x)
print(y)

In [ ]:
x1 = 5.2564
x2 = 5.09
print(x1)

In [ ]:
x = 4      # x is of type int
#x = "Global Climate Change" # x is now of type str
print(type(x))

### Casting

The data type (e.g.: int, float, string etc.) of a variable can be changed via casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
x = 3.56
x = int(x)
print(type(x))

### To print data type

In [ ]:
x = 5
y = "GCC"
print(type(x))
print(type(y))

### Single / double quotes

In [ ]:
x = "GCC"
# is the same as
x = 'GCC'

### Case-Sensitive

In [ ]:
a = 4
A = "Climate"
#A will not overwrite a 
print(a)
print(A)

## Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
X2 = 2

In [ ]:
myvar = "Climate"
my_var = "Climate"
_my_var = "Climate"
myVar = "Climate"
MYVAR = "Climate"
myvar2 = "Climate"

### Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [ ]:
x = "Temp"
y = "Pres"
z = "Rhum"

In [2]:
x, y, z  = "Temp", "Pres", "Rhum"
print(x)
print(y)
print(z)

Temp
Pres
Rhum

### One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

In [3]:
x = y = z = "Climate"
print(x)
print(y)
print(z)

Climate
Climate
Climate

## Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

In [7]:
atmos = ("Temp", "Pres", "Rhum") ## Unpacking a list
# x, y, z = atmos
print(x)
print(y)
print(z)

Temp
Pres
Rhum

In [8]:
atmos[0], atmos[1], atmos[2]

('Temp', 'Pres', 'Rhum')

## Output Variables

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [ ]:
x = "awesome"
print("Python is " + x)

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

In [ ]:
x = 5
y = 10
print(x + y)

## Global Variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

In [ ]:
def myfunc(x):   
    print("Python is " + x)

# x = "fantastic"
x = "awesome"
myfunc(x)

# print("Python is " + x)

If you use the **global** keyword, the variable belongs to the global scope:

In [ ]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

# Python Numbers

In [ ]:
x = 1    # Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
y = 2.8  # Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
w = 35e3 # Float can also be scientific numbers with an "e" to indicate the power of 10.
z = 1j   # Complex numbers are written with a "j" as the imaginary part

## Type Conversion

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

## Random Number

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
# Import the random module, and display a random number between 1 and 9:

import random
print(random.randrange(1, 10))

## Python Casting

### Specify a Variable Type

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Python Strings

In [9]:
print("GCC")
print('GCC')

GCC
GCC

In [10]:
# Assign String to a Variable

a = "GCC"
print(a)

GCC

In [11]:
# Adding a multiline string

a = '''The Sixth Assessment Report of the United Nations Intergovernmental 
Panel on Climate Change is the sixth in a series of reports which assess 
scientific, technical, and socio-economic information concerning climate change.'''
print(a)

The Sixth Assessment Report of the United Nations Intergovernmental
Panel on Climate Change is the sixth in a series of reports which assess
scientific, technical, and socio-economic information concerning climate change.

### Strings are Arrays

In [ ]:
# Get the character at position 1 (remember that the first character has the position 0)

a = "Hello, World!"
print(a[13])

### Looping Through a String

In [12]:
# Loop through the letters in the word "climate change"

for x in "climate change":
    print(x)

c
l
i
m
a
t
e

c
h
a
n
g
e

### String Length

In [13]:
# The len() function returns the length of a string

a = "Hello, World!"
print(len(a))

13

### Check String

In [16]:
# Check if "real" is present in the following text

txt = "Climate change is real!"
result = "as" in txt
print(result)

False

In [20]:
# Print only if "free" is present

txt = "Climate change is real!"
if "real" in txt:
    print("Yes, 'real' is present.")
else:
    print("No, 'real' is not present.")

Yes, 'real' is present.

### Check if NOT

In [21]:
# Check if "expensive" is NOT present in the following text

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
# Print only if "expensive" is NOT present

txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

## Python - Slicing Strings

In [22]:
# Get the characters from position 2 to position 5 (not included)

b = "Hello, World!"
print(b[2:5])

llo

In [23]:
# Get the characters from the start to position 5 (not included)

b = "Hello, World!"
print(b[:5])

Hello

In [25]:
# Get the characters from position 2, and all the way to the end

b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing

In [27]:
# Use negative indexes to start the slice from the end of the string

b = "Hello, World!"
print(b[-5:-2])

World!

## Python - Modify Strings

### Upper Case

In [28]:
# The upper() method returns the string in upper case

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Lower Case

In [29]:
# The lower() method returns the string in lower case

a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace

In [30]:
# The strip() method removes any whitespace from the beginning or the end

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### Replace String

In [31]:
# The replace() method replaces a string with another string

a = "Hello, World!"
print(a.replace("!", "."))

Hello, World.

### Split String

In [ ]:
# The split() method splits the string into substrings if it finds instances of the separator

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

### String Concatenation

In [ ]:
# Merge variable a with variable b into variable c

a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
# To add a space between them, add a " "

a = "Hello"
b = "World"
c = a + " " + b
print(c)

### String Format

In [ ]:
# As we learned in the Python Variables chapter, we cannot combine strings and numbers like this (throws an error)

age = 36
txt = "My name is John, I am " + str(age)
print(txt)

In [ ]:
# Use the format() method to insert numbers into strings

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

In [ ]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

# Python - Escape Characters

In [ ]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes

txt = "We are the so-called "Vikings" from the north."

In [ ]:
# The escape character allows you to use double quotes when you normally would not be allowed

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

# Python Booleans

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

### Evaluate Values and Variables

In [ ]:
# The bool() function allows you to evaluate any value, and give you True or False in return

print(bool(float(1)))
print(bool())

# Python Conditional Statements

### if..

In [ ]:
a = 33
b = 100
c = a<b
c

In [ ]:
# if..else..example

a = 33
b = 100
if b > a:
    print("b is greater than a") # Note that indentation is important in python

### elif..

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

### else..

The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

In [ ]:
# if else statement works fine without elif...

a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

### Shorthand if...

In [ ]:
# This technique is known as Ternary Operators, or Conditional Expressions.

if a > b: print("a is greater than b")

### Shorthand if..else..

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B") # Python is like English language

In [ ]:
# You can also have multiple else statements on the same line.
# One line if else statement, with 3 conditions:

a = 330
b = 360
print("A") if a > b else print("=") if a == b else print("B")

### Nested if...

In [ ]:
# You can have if statements inside if statements, this is called nested if statements.

x = 11

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

### The pass Statement

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
    pass

### Using logical operators within conditional statements

The **and** keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
# Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

The **or** keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
# Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

# Python Loops

Python has two primitive loop commands: **while** and **for**

## Python while loop

With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
# Print i as long as i is less than 6:

i = 1
while i < 6:
    print(i)
    i += 1

In [ ]:
# Always remember to mention increment. Otherwise infinite loop:

i = 1
while i < 6:
    print(i)

### The break Statement

With the break statement we can stop the loop even if the while condition is true:

In [ ]:
# Exit the loop when i is 3:

i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

### The continue Statement

With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
# Continue to the next iteration if i is 3:

i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

### The else Statement

With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
# Print a message once the condition is false:

i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

## Python for Loop

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
# Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

### The break Statement

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
# Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

In [ ]:
# Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

### The continue Statement

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
# Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

### The range() Function

To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
# Example:

for x in range(6):
    print(x)         # Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

In [ ]:
# Using the start parameter:

for x in range(2, 6):
    print(x)

In [ ]:
# Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
    print(x)

### Else in For Loop

The **else** keyword in a for loop specifies a block of code to be executed when the loop is finished:m

In [ ]:
# Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
    print(x)
else:
    print("Finally finished!")

**Note:** The else block will NOT be executed if the loop is stopped by a break statement.

In [ ]:
# Break the loop when x is 3, and see what happens with the else block:

for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Finally finished!")

### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
# Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

### The pass Statement

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
# Example:

for x in [0, 1, 2]:
    pass

# Python Lists

Lists are used to store multiple items in a single variable.

Lists are created using square brackets

Lists are ordered, it means that the items have a defined order, and that order will not change unless we change it.

If you add new items to a list, the new items will be placed at the end of the list.

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Since lists are indexed, lists can have items with the same value

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
type(thislist)

In [ ]:
# List Length

thislist = ["apple", "banana", "cherry"]
print(len(thislist)) # Number of elements in a list

In [ ]:
# List can be of any data types

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1, list2, list3)

In [ ]:
# Lists are defined as objects with the data type 'list'

print (type(thislist))

In [ ]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

In [ ]:
# The list can contain duplicate elements

thislist = ["apple", "banana", "cherry", "apple", "cherry"]

In [ ]:
# Using the list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

### Accessing List Elements

In [ ]:
# Print the second item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[0])

In [ ]:
# Negative indexing means start from the end

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
# You can specify a range of indexes by specifying where to start and where to end the range. 
# When specifying a range, the return value will be a new list with the specified items.

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist_sub = thislist[2:5]

In [ ]:
thislist_sub

In [ ]:
# This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
# This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

In [ ]:
# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:])

In [ ]:
# Check if "apple" is present in the list:

thislist = ["banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")
else:
    print("Apple is not in this list")

### Change Item Value

To change the value of a specific item, refer to the index number:

In [ ]:
# Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
# To change the value of items within a specific range, define a list with the new values, and 
# refer to the range of index numbers where you want to insert the new values:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

### Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.
The insert() method inserts an item at the specified index:

In [ ]:
# Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
type(thislist)

### Add List Items

#### append()

In [ ]:
# To add an item to the end of the list, use the append() method:

thislist = ["apple", "banana", "cherry"]
thislist.append("mango")
print(thislist)

#### insert()

In [ ]:
# To insert a list item at a specified index, use the insert() method.

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

#### extend()

In [ ]:
# To append elements from another list to the current list, use the extend() method.

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

In [ ]:
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).
# Add elements of a tuple to a list:

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

### Remove List Items

#### remove()

In [ ]:
# The remove() method removes the specified item.

thislist = ["apple", "banana", "cherry"]
thislist.remove("orange")
print(thislist)

#### pop()

In [ ]:
# The pop() method removes the specified index.

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

In [ ]:
# Check what happens if you do not mention the index number

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

#### del keyword

In [ ]:
# The del keyword also removes the specified index:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

In [ ]:
# The del keyword can also delete the list completely.

thislist = ["apple", "banana", "cherry"]
del thislist

#### clear()

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
thislist.clear()
print(thislist)

In [ ]:
# The clear() method empties the list.

thislist = ["apple", "banana", "cherry"]
thislist.clear()

In [ ]:
# The list still remains, but it has no content.

print(thislist)

### Loop Through a List

In [ ]:
# You can loop through the list items by using a for loop:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

### Loop Through the Index Numbers

In [ ]:
# You can also loop through the list items by referring to their index number.

# Use the range() and len() functions to create a suitable iterable.

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

In [ ]:
#  Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

In [ ]:
# List Comprehension offers the shortest syntax for looping through lists:

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

### Sort Lists

#### Sort List Alphanumerically

In [ ]:
# List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
# Sort list numerically

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

In [ ]:
# Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

### Reverse Order

In [ ]:
# Reverse the order of the list items:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

### Copy Lists

In [ ]:
# Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
# Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

### Join Lists

In [ ]:
# Join two list: The easiest way

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
# Append list2 into list1:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

In [ ]:
# Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

# Python Tuples

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and **unchangeable**.

Tuples are written with round brackets.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
# Tuples allow duplicate values

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
thistuple[1]

In [ ]:
# Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [ ]:
# To create a tuple with only one item, you have to add a comma after the item, 
# otherwise Python will not recognize it as a tuple.

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

### Tuple Items - Data Types

In [ ]:
# Tuple items can be of any data type: String, int and boolean data types.

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
# A tuple can contain different data types: A tuple with strings, integers and boolean values

tuple1 = ("abc", 34, True, 40, "male")

In [ ]:
# What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

In [ ]:
# It is also possible to use the tuple() constructor to make a tuple.

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

### Access Tuple Items

In [ ]:
# You can access tuple items by referring to the index number, inside square brackets:

# Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
# Negative indexing: Print the last item of the tuple

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
# You can specify a range of indices also:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

# Note: The search will start at index 2 (included) and end at index 5 (not included).

In [ ]:
# This example returns the items from the beginning to, but NOT included, "kiwi":

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

In [ ]:
# This example returns the items from "cherry" and to the end:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

In [ ]:
# Range of negative indices: This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

In [ ]:
# Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

In [ ]:
search = int(input('Enter the number you want to search: '))
numlist = (1, 2, 3, 4, 5, 6)
if search in numlist:
    print("Yes, {} is in the numlist".format(search))
else:
    print('{} is not there'.format(search))

In [ ]:
import numpy as np
x = [np.arange(0,101, 5)]

In [ ]:
x = np.random.random_sample(100)

In [ ]:
x

In [ ]:
type(x)

### Update Tuples

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

#### Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, 
or immutable as it also is called. But there is a workaround. You can convert the 
tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
# Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

#### Add Items

Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

In [ ]:
# Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
# Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

#### Remove Items

In [ ]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
# The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

### Unpacking a Tuple

In [ ]:
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

fruits = ("apple", "banana", "cherry")

In [ ]:
# But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

**Note:** The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [ ]:
# Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
# If the asterisk is added to another variable name than the last, 
# Python will assign values to the variable until the number of values left matches the number of variables left.

# Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

### Loop Tuples

In [ ]:
# You can loop through the tuple items by using a for loop.

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

In [ ]:
# You can also loop through the tuple items by referring to their index number.
# Use the range() and len() functions to create a suitable iterable.

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

In [ ]:
# Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

### Join Tuples

In [ ]:
# To join two or more tuples you can use the + operator:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

### Multiply Tuples

In [ ]:
# If you want to multiply the content of a tuple a given number of times, you can use the * operator:

# Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

### Tuple Methods

In [ ]:
## index() method

fruits = ("apple", "banana", "cherry")
fruits.index('banana')

In [ ]:
## count() method

fruits = ("apple", "banana", "cherry", "banana", "banana")
fruits.count('banana')

# Python Sets

Sets are used to store multiple items in a single variable.

A set is a collection which is both unordered and unindexed.

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items do not allow duplicate values.

Sets are unchangeable, once a set is created, you cannot change its items, but you can add new items.

Sets are written with curly brackets.

In [ ]:
# Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

In [ ]:
# Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

### Set Items - Data Types

In [ ]:
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
# A set can contain different data types. A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

In [ ]:
# What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

In [ ]:
# It is also possible to use the set() constructor to make a set.

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

### Access Set Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset[1]

In [ ]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

In [ ]:
search = int(input('Enter the number you want to search: '))
numlist = {1, 2, 3, 4, 5, 6}
if search in numlist:
    print("Yes, {} is in the numlist".format(search))
else:
    print('{} is not there'.format(search))

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
len()

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

for i in fruits:
    print(i)

In [ ]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

### Add Set Items

#### add()

In [ ]:
# To add one item to a set use the add() method.

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

#### update()

In [ ]:
# To add items from another set into the current set, use the update() method.

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

### Remove Set Items

#### remove()

In [ ]:
# To remove an item in a set, use the remove() method.

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

#### discard()

In [ ]:
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

#### pop()

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [ ]:
# Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

#### clear()

In [ ]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

#### del keyword

In [ ]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

### Loop Sets

In [ ]:
# You can loop through the set items by using a for loop:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

### Join Sets

#### union()

In [ ]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

#### update()

In [ ]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

### Keep ONLY the Duplicates

In [ ]:
# The intersection_update() method will keep only the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

In [ ]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

In [ ]:
midhun20@iiserb.ac.in

### Keep All, But NOT the Duplicates

In [ ]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

In [ ]:
# The symmetric_difference() method will return a new set, 
# that contains only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

# Python Dictionaries

Dictionaries are used to store data values in key:value pairs.
    
A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
thisdict =	{
  "brand": ["Ford", 'Toyota'],
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
# Dictionaries cannot have two items with the same key. Duplicate values will overwrite existing values.

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

In [ ]:
# Print the number of items in the dictionary:

print(len(thisdict))

In [ ]:
# String, int, boolean, and list data types:

thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [ ]:
# Print the data type of a dictionary:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

### Access Dictionary Items

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
# Get the value of the "model" key:

thisdict =	{
  "brand": ["Ford", "Skoda", "BMW"],
  "model": "Mustang",
  "year": 1964
}
x = thisdict["brand"]
print(x)

There is also a method called **get()** that will give you the same result:

In [ ]:
x = thisdict.get("brand")
print(x)

The **keys()** method will return a list of all the keys in the dictionary.

In [ ]:
x = thisdict.keys() 
print(x)

In [ ]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

In [ ]:
car["color"] = "white"

print(x) #after the change

The **values()** method will return a list of all the values in the dictionary.

In [ ]:
x = thisdict.values() 
print(x)

In [ ]:
# Make a change in the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

The **items()** method will return each item in a dictionary, as tuples in a list.

In [ ]:
# Get a list of the key:value pairs

x = thisdict.items()
print(x)

In [ ]:
# Check if "model" is present in the dictionary:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

### Change Dictionary Items

You can change the value of a specific item by referring to its key name:

In [ ]:
# Change the "year" to 2018:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
# Update the "year" of the car by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

### Add Dictionary Items

In [ ]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
# Add a color item to the dictionary by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

### Remove Dictionary Items

#### pop()

In [ ]:
# The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

#### popitem()

In [ ]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

#### del keyword

In [ ]:
# The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
# The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

#### clear()

In [ ]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

### Loop Through a Dictionary

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
# Print all key names in the dictionary, one by one:

for x in thisdict:
    print(x)

In [ ]:
# Print all values in the dictionary, one by one:
for x in thisdict:
    print(x, thisdict[x])

In [ ]:
# You can also use the values() method to return values of a dictionary:

for x in thisdict.values():
    print(x)

In [ ]:
# You can use the keys() method to return the keys of a dictionary:

for x in thisdict.keys():
    print(x)

In [ ]:
# Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
    print(x)

### Copy a Dictionary

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [ ]:
# Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

In [ ]:
# Make a copy of a dictionary with the dict() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

### Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
# Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
# Same as above. But formatted for easy understanding.

myfamily = {"child1" : {"name" : "Emil","year" : 2004},
            "child2" : {"name" : "Tobias","year" : 2007},
            "child3" : {"name" : "Linus","year" : 2011}}

# Accessing nested dictionary. Example:

print(myfamily["child2"]["year"])

In [ ]:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

# Python Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

### Creating a Function

In Python a function is defined using the **def** keyword:

In [ ]:
# Example:

def my_function(name):
    print("Hello, {}".format(name))

names = ['Amit', 'Midhun', 'Anish']

for name in names:
    my_function(name)

### Calling a Function

In [ ]:
# To call a function, use the function name followed by parenthesis:

def my_function():
    print("Climate change is real!")

my_function()

### Function Arguments / Parameters

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The terms parameter and argument can be used for the same thing: information that are passed into a function.



From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

In [ ]:
# Example: This function expects 2 arguments, and gets 2 arguments:

def my_function(arg1, arg2):
    print(arg1 + ": " + arg2)

my_function("EES445", "Global Climate Change")

In [ ]:
def square(num):
    sq = num**2
    return sq

square(1.23)

##################################################### The End of Document #####################################################

Prepared by Midhun M (email: midhun20@iiserb.ac.in) for EES 445 Practicals

References: 
https://docs.python.org/3/tutorial/ 
https://www.w3schools.com/python/
https://www.geeksforgeeks.org/python-programming-language/

HAPPY LEARNING!!